{{define "home"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/web/static/img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/web/static/css/main.css">
    <link rel="stylesheet" href="/web/static/css/header.css">
    <link rel="stylesheet" href="/web/static/css/post.css">
    <title>Forum</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo"><a href="/">FORUM</a></div>
                <div class="header-nav">
                    <div class="header-search item">
                        <form action="/" method="get">
                            <input type="search" name="filter" placeholder="tag" required>
                            <button type="submit"><img src="/web/static/img/search.png" alt=""></button>
                        </form>
                    </div>
                    <div class="header-panel item">
                        <button onclick="openPanel()"><img src="/web/static/img/dots.png" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="user-panel" class="user-panel">
        <div class="user-panel-inner">
            <div class="avatar">
                <img src="/web/static/img/ava.jpg" alt="avatar">
                {{$u := .User}}
                <span>{{if .User}}{{$u.Nick}}{{else}}User{{end}}</span>
            </div>
            {{if .User}}
            <div class="user-nav">
                <form action="/" method="get">
                    <input type="hidden" name="filter" value="users">
                    <button type="submit">My Posts</button>
                </form>
            </div>
            <div class="user-nav">
                <form action="/" method="get">
                    <input type="hidden" name="filter" value="liked">
                    <button type="submit">&#x2661 Liked</button>
                </form>
            </div>
            <div class="user-nav"><a href="/post/add">+ Add post</a></div>
            <div class="user-nav">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
            {{else}}
            <div class="user-nav"><a href="/login">Login</a></div>
            <div class="user-nav"><a href="/signup">Signup</a></div>
            {{end}}
            <button class="user-nav" onclick="closePanel()">Back</button>
        </div>
    </div>

    <main class="posts">
        <div class="container">
            <div class="posts-inner">
                {{range $p := .Posts}}
                <div id="{{$p.Id}}" class="post">
                    <div class="post-info">
                        <div class="user-info">
                            <img src="/web/static/img/ava.jpg" alt="">
                            <span>{{$p.UserNick}}</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-text">{{$p.Content}}</div>
                    </div>
                    <div class="post-action">
                        <div class="vote">
                            <form action="/vote" method="post">
                                <input type="hidden" name="path" value="/#{{$p.Id}}">
                                <input type="hidden" name="post_id" value="{{$p.Id}}">
                                <input type="hidden" name="vote" value="1">
                                <button type="submit"><img src="/web/static/img/like.png" alt="like"></button>
                            </form>
                            <div class="vote-count">{{$p.Likes}}</div>
                            <form action="/vote" method="post">
                                <input type="hidden" name="path" value="/#{{$p.Id}}">
                                <input type="hidden" name="post_id" value="{{$p.Id}}">
                                <input type="hidden" name="vote" value="0">
                                <button type="submit"><img src="/web/static/img/dislike.png" alt="dislike"></button>
                            </form>
                            <div class="vote-count">{{$p.Dislikes}}</div>
                        </div>
                        <div class="comm">
                            <a href="/post?id={{$p.Id}}"><img src="/web/static/img/comment.png" alt=""></a>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </main>

</body>

<script>
    function openPanel() {
        document.getElementById('user-panel').style.right = "0px";
    }

    function closePanel() {
        document.getElementById('user-panel').style.right = "-300px";
    }
</script>

</html>
{{end}}